:root {
    /* Cores principais */
    --cor-primaria: #6528d3;
    --cor-primaria-hover: #834de8;

    /* Cores neutras */
    --cor-neutra-clara: #ffffff;
    --cor-neutra-escura: #111111;
    --cor-cinza-escura: #29272a;
    --cor-cinza-clara: #ededed;
    --cor-roxa-clara: #bca2ed;

    /* Cores para estelização da parte do cep */
    --cor-cep-label: #e0e0e0;
    --cor-cep-texto: #6affb7;
    --cor-cep-hover: #1a1a2e;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--cor-neutra-escura);
    min-height: 100vh;
    /* altura minima de um elemento para ser sempre visto da mesma forma mesmo numa tv com areas enormes*/
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}